<ion-header>
  <ion-toolbar>

    <button *ngIf="prompEvent" (click)="onInstall()">Install PWA</button>

    <ion-title>
      Header de la page
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="openMenu($event)">
        <ion-icon slot="icon-only"
                  ios="ellipsis-horizontal"
                  md="ellipsis-vertical">
        </ion-icon>
      </ion-button>
    </ion-buttons> -->

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <p><a routerLink="/saisie-cours">Accéder au formulaire de cours</a></p>
    <p><a routerLink="/cours">Accès à la liste de cours</a></p>
    <p><a routerLink="/gallery">Accès à la photo gallery</a></p>
    <button (click)="presentAlert()">Ouvrir l'alerte</button>
  </div>

</ion-content>
